<div class="content">
    <p>"{{quote}}"</p>
    <p>-{{author}}</p>
    <p>+{{rating}}</p>

    <p><button style="background-color:rgb(43, 226, 89)" (click)='up($event, index)'>Vote up</button></p>
    <p><button style="background-color:rgb(226, 64, 43)" (click)='down($event, index)'>Vote down</button></p>
    <p><button style="background-color:rgb(226, 214, 43)" (click)='delete($event, index)'>Delete</button></p> 
        
</div>

   
<style>
    .content {
      display:inline-block;
      vertical-align: top;
      
    }   
        
</style>